body{
  font-family: Tahoma, Geneva, sans-serif;
  background-color: LightPink;
  font-size: 25px;
}

textbox{
  display: block;
}

h4{
  display: inline-block;
  vertical-align: left;
}

#next{
  display: block;
}
